USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [silver].[load_silver]    Script Date: 05-06-2025 17:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [silver].[load_silver] as 
begin
		declare @start_time datetime, @end_time datetime, @batch_start_time datetime, @batch_end_time datetime ;
		begin try
			set @batch_start_time = getdate();
			print'===========================================================================================';
			print'Loading Silver Layer';
			print'===========================================================================================';


			print'--------------------------------------------------------------------------------------------';
			print'Loading CMR Tables';
			print'--------------------------------------------------------------------------------------------';

				set @start_time = getdate();
				print'>> Truncating Table: silver.crm_cust_info';
				truncate table silver.crm_cust_info
				print'>> Inserting Data: silver.crm_cust_info';
				insert into silver.crm_cust_info(
							cst_id,
							cst_key,
							cst_firstname,
							cst_lastname,
							cst_marital_status,
							cst_gndr,
							cst_create_date
				)

				select 
				cst_id,
				cst_key,
				trim(cst_firstname) as cst_firstname,
				trim(cst_lastname) as cst_lastname,
				case when upper(trim(cst_marital_status)) = 'S' then 'Single'
					when upper(trim(cst_marital_status)) = 'M' then 'Married'
					else 'n/a'
					end cst_marital_status, ----Normalise marital status value to readable format
				case when upper(trim(cst_gndr)) = 'F' then 'Female'
					when upper(trim(cst_gndr)) = 'M' then 'Male'
					else 'n/a'
					end cst_gndr, -----Normalise gendr value to readable format
				cst_create_date
				from (
				select *, 
				row_number() over (partition by cst_id order by cst_create_date desc ) as flag_last
				from bronze.crm_cust_info where cst_id is not null)t where flag_last = 1 ----select the most recent record per customer 
				set @end_time = getdate();
				print'>> Load Duration: '+ cast(datediff(second, @start_time, @end_time)as nvarchar)+ 'seconds';
				print'>> ------------------'



				set @start_time = getdate();
				print'>> Truncating Table: silver.crm_prd_info';
				truncate table silver.crm_prd_info
				print'>> Inserting Data: silver.crm_prd_info';
				insert into silver.crm_prd_info(
							prd_id ,
							cat_id ,
							prd_key ,
							prd_nm ,
							prd_cost ,
							prd_line,
							prd_start_dt ,
							prd_end_dt 
				)

				select 
						prd_id,
						replace(substring(prd_key, 1, 5), '-', '_') as cat_id,   ----Extract  category ID
						substring(prd_key, 7, len(prd_key)) as  prd_key,		-----Extract  product key
						prd_nm,
						isnull(prd_cost, 0) as prd_cost,
						case upper(trim(prd_line)) 
							 when 'M' then 'Mountain'
							 when 'R' then 'Road'
							 when 'S' then 'Other Sales'
							 when 'T' then 'Touring'
							 else 'n/a'
						end prd_line, -----Map product line code to descriptive values 
						cast(prd_start_dt as date) as prd_start_dt,
						cast(lead(prd_start_dt) over (partition by prd_key order by prd_start_dt)-1 as date )prd_end_dt 
						-------Calculate end date as one day before the next start date
				from bronze.crm_prd_info
				set @end_time = getdate();
				print'>> Load Duration: '+ cast(datediff(second, @start_time, @end_time)as nvarchar)+ 'seconds';
				print'>> ------------------'



				set @start_time = getdate();
				print'>> Truncating Table: silver.crm_sales_detailes';
				truncate table silver.crm_sales_detailes
				print'>> Inserting Data: silver.crm_sales_detailes';
				insert into silver.crm_sales_detailes(
						sls_ord_num,
						sls_prd_key,
						sls_cust_id,
						sls_order_dt,
						sls_ship_dt,
						sls_due_dt,
						sls_sales,
						sls_quantity,
						sls_price 
				)

				select 
						sls_ord_num ,
						sls_prd_key ,
						sls_cust_id ,
						case when sls_order_dt = 0 or len(sls_order_dt) !=8 then null
							 else cast(cast(sls_order_dt as varchar) as date)
						end sls_order_dt,
						case when sls_ship_dt = 0 or len(sls_ship_dt) !=8 then null
							 else cast(cast(sls_ship_dt as varchar) as date)
						end sls_ship_dt,
						case when sls_due_dt = 0 or len(sls_due_dt) !=8 then null
							 else cast(cast(sls_due_dt as varchar) as date)
						end sls_due_dt,
						case when sls_sales is null or sls_sales <=0 or sls_sales != sls_quantity * abs(sls_price)
							 then sls_quantity * abs(sls_price)
							 else sls_sales
							 end sls_sales, ---Recalculate sales if original value is missing or incorrect
						sls_quantity ,
						case when sls_price is null or sls_price <=0 then sls_sales / nullif(sls_quantity, 0)
							 else sls_price
							 end sls_price  -------Derive price if original value is invalid
				from bronze.crm_sales_detailes
				set @end_time = getdate();
				print'>> Load Duration: '+ cast(datediff(second, @start_time, @end_time)as nvarchar)+ 'seconds';
				print'>> ------------------'



				print'--------------------------------------------------------------------------------------------';
				print'Loading ERP Tables';
				print'--------------------------------------------------------------------------------------------';

				set @start_time = getdate();
				print'>> Truncating Table: silver.erp_cust_az12';
				truncate table silver.erp_cust_az12
				print'>> Inserting Data: silver.erp_cust_az12';
				insert into silver.erp_cust_az12(
				cid,
				bdate,
				gen
				)

				select 
					case when cid like 'NAS%' then substring(cid, 4, len(cid))	-----Remove 'NAS' prefix if present 
						 else cid
						 end cid,
					case when bdate > getdate() then null 
						 else bdate
						 end bdate, ----End future date to null
					case when upper(trim(gen)) in ('F', 'FEMALE') then 'Female'
						 when upper(trim(gen)) in ('M', 'MALE') then 'Male'
						 else 'n/a'
						 end as gen  ----Normalise gender values and handle unknown cases
				from bronze.erp_cust_az12
				set @end_time = getdate();
				print'>> Load Duration: '+ cast(datediff(second, @start_time, @end_time)as nvarchar)+ 'seconds';
				print'>> ------------------'



				set @start_time = getdate();
				print'>> Truncating Table: silver.erp_loc_a101';
				truncate table silver.erp_loc_a101
				print'>> Inserting Data: silver.erp_loc_a101';
				insert into silver.erp_loc_a101(
				cid,
				cntry
				)

				select 
					replace(cid, '-', '') cid,
					case when trim(cntry) = 'DE' then 'Germany'
						 when trim(cntry) = 'US' then 'United States'
						 when trim(cntry) = '' or cntry is null then 'n/a'
						 else trim(cntry)
						 end as cntry
				from bronze.erp_loc_a101
				set @end_time = getdate();
				print'>> Load Duration: '+ cast(datediff(second, @start_time, @end_time)as nvarchar)+ 'seconds';
				print'>> ------------------'



				set @start_time = getdate();
				print'>> Truncating Table: silver.erp_px_cat_g1v2';
				truncate table silver.erp_px_cat_g1v2
				print'>> Inserting Data: silver.erp_px_cat_g1v2';
				insert into silver.erp_px_cat_g1v2(
				id,
				cat,
				subcat,
				maintenace
				)

				select
				id,
				cat,
				subcat,
				maintenace
				from bronze.erp_px_cat_g1v2
				set @end_time = getdate();
				print'>> Load Duration: '+ cast(datediff(second, @start_time, @end_time)as nvarchar)+ 'seconds';
				print'>> ------------------'

			set @batch_end_time = getdate();
			print'======================================';
			print'Loading silver layer is completed ';
			print'Total load duration: '+ cast(datediff(second, @batch_start_time, @batch_end_time) as nvarchar)+ 'seconds';
			print'======================================';

		end try
		begin catch
			print'===========================================================================================';
			print'Error occured during loading the silver layer';
			print'Error Message'+ error_message();
			print'Error Message'+ cast (error_number() as nvarchar);
			print'Error Message'+ cast (error_state() as nvarchar);
			print'===========================================================================================';
		end catch
end

--exec silver.load_silver
GO
